
<h3>Project:</h3>

<%= render 'project', projects: [@project] %>
<%= render 'tickets', tickets: @tickets %>

<% if logged_in? %>
  <%= link_to "Create Ticket", new_ticket_path %>
<% end %>

<%= link_to "Home", root_path %>