
<h3>Tags</h3>

<% if tags.empty? %>
  <p>No tags available</p>
<% else %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Tickets</th>
        <% if logged_in? %>
          <th colspan="2"></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td>
            <%= tag.tickets.map { |ticket| link_to ticket.id, ticket_path(ticket.id) }.join(', ').html_safe %>
          </td>
          <% if logged_in? %>
            <td>
              <%= link_to "Edit", edit_tag_path(tag) %>
            </td>
            <td>
              <%= link_to "Delete", tag_path(tag), method: :delete %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
