/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
html {
  font: normal 16px sans-serif;
}
form {
  box-sizing: border-box;
  width: 20%;
  padding: 30px;
  border: 1px solid gray;
}
input, label, textarea {
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  padding: 0;
  width: 100%;
  margin: 2px 0;
}
input, textarea {
  border: 1px solid #cecece;
  padding: 2px;
}
textarea {
  height: 5em;
}
.flash {
  background: #eee;
  outline: 1px solid black;
  padding: 20px;
  display: inline-block;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #cdcdcd;
  padding: 6px;
  vertical-align: top;
}
th, td {
  text-align: left;
  max-width: 30em;
}

